h2:hover{
    color:red;
}

.about-me{
    color:blue;
}

li:first-child{
    color:steelblue;
}

li:nth-child(2){
    color:red;
}



/* #google-link:link{
color: blue;

}
#google-link:visited{
color:red;
} */

h2 + a{
    color:red;
}

textarea ~ button {
    color:purple;
} /* needs to be under a same parent */

ul> li {
    color:blue;
} /* every single DIRECT li in ul*/

ul li {
    color: green;
}

h2[class=subtitle]{
color:blue;
}

img[src^="../img/"]
{
    border:10px solid black;
} /* *means contains, $ means ends with, ^ means start with*/


h2[class~=article-subtitle]{
    background:green;
}

/* body{
    backgronud:url("")
    background-repeat:no-repeat;
    background-size: cover;
    background:linear-gradient(to right, red, blue);
    radial-gradient:(circle, ellipse, oval...can specify area by %)
} */

.link{
    text-decoration: none; /* removes uunderlines from a link */
    text-transform:capitalize;
    text-align:center;
}