body{
    font-family: 'Roboto Mono', monospace, canada-type-gibson, sans-serif;;
    min-height: 100vh;
    font-weight: 300;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}


.navbar{

    padding:40px 0px;

}

.container-fluid{
  background-color: #f7eeff;  
}

.test{
    background-color: #f7eeff; 
}

.nav-item{
    margin:0px 10px;

}

.introduce-me{
    height:70vh;
    background-color: #f7eeff; 
    padding-left:7vw;
    padding-top:5vh; 
}

#intro{
    padding-bottom:5vh;
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
}

.wrap{
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 12% 75%, 0 100%, 0 75%, 0% 75%);
    background-color: white;
    width:80%;
    padding-left:2vw;
    padding-top:5vh;
    padding-bottom: 20vh;
    border-radius: 10px;
}


.about-me{
    font-family:'Nunito', sans-serif;
}
.about-me h3{
    font-weight: 900;
    font-size:3rem;
    padding-bottom:3vh;
}

.about-me h4{
    font-family:sans-serif;
    font-weight:bold;

}

.about-me h6{
    font-weight:200;
    line-height:1.6;
}
.wrapper{
    padding-top:13vh;
    padding-left:5vw;
    padding-bottom:13vh;
}


.test2{
    background-color: #fbdeff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --first-colour: #54ddcb;
  --second-colour: #4ac7b6;
  --third-colour: #36978a;
  --fourth-colour: #2d7a70;
  --fifth-colour: #205e55;
}

.text_shadows {
  text-shadow: 
    3px 3px 0 var(--second-colour), 
    6px 6px 0 var(--third-colour),
    9px 9px var(--fourth-colour), 
    12px 12px 0 var(--fifth-colour);
  font-family: bungee, sans-serif;
  font-weight: 900;
  text-transform: lowercase;
  font-size: calc(2rem + 5vw);
  text-align: left;
  margin: 0;
  color: var(--first-colour);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 1.5s ease-in infinite, move 1.5s ease-in infinite;
  letter-spacing: 0.5rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--second-colour);
  }
  20% {
    text-shadow: 3px 3px 0 var(--second-colour),
      6px 6px 0 var(--third-colour);
  }
  30% {
    text-shadow: 3px 3px 0 var(--second-colour),
      6px 6px 0 var(--third-colour), 9px 9px var(--fourth-colour);
  }
  40% {
    text-shadow: 3px 3px 0 var(--second-colour),
      6px 6px 0 var(--third-colour), 9px 9px var(--fourth-colour),
      12px 12px 0 var(--fifth-colour);
  }
  50% {
    text-shadow: 3px 3px 0 var(--second-colour),
      6px 6px 0 var(--third-colour), 9px 9px var(--fourth-colour),
      12px 12px 0 var(--fifth-colour);
  }
  60% {
    text-shadow: 3px 3px 0 var(--second-colour),
      6px 6px 0 var(--third-colour), 9px 9px var(--fourth-colour),
      12px 12px 0 var(--fifth-colour);
  }
  70% {
    text-shadow: 3px 3px 0 var(--second-colour),
      6px 6px 0 var(--third-colour), 9px 9px var(--fourth-colour);
  }
  80% {
    text-shadow: 3px 3px 0 var(--second-colour),
      6px 6px 0 var(--third-colour);
  }
  90% {
    text-shadow: 3px 3px 0 var(--second-colour);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.outside{
    position:relative;
    top:0;
    left:0;

}



.image1 {
    position: absolute;
    top: 0;
    left: 0;
    width:700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    }

  .image2 {
    position: relative;
    width:270px;
    height:450px;
    top: 165px;
    left: 215px;
  }

  .image3{
      position:relative;
      width:100px;
      top:300px;
      right:50px;
      opacity:0;
      transition:.5s ease;
  }

  .image4{
      position:relative;
      width:250px;
      right:100px;
      opacity:0;
      transition:0.5s ease;
  }

  .outside:hover .image3{
      opacity:1;
  }
  .outside:hover .image4{
    opacity:1;
  }

  /* .my-work h1{
      font-family: 'PT Sans', sans-serif;
      justify-content: left;
      font-weight: 900;
      overflow:hidden;
      white-space:nowrap;
      margin: 0 auto;
      border-right: 0.3rem solid purple;
      animation:
      typer 4.5s steps(30, end),
      cursor 0.75s step-end infinite;
  }

  @keyframes typer{
      from {width: 0%}
      to {width: 100%}
  }

  @keyframes cursor{
    from, to { border-color: transparent }
    50% { border-color: purple; }
  } */

  .my-work h1{
    font-family: 'PT Sans', sans-serif;
    justify-content: left;
    font-weight: 900;
    padding-top: 3vh;

  }

  .my-work{
      background-color: rgb(255, 209, 237);
      padding-left:5vw;
  }

  .my-work h3{
      padding-top:250px;
      padding-bottom: 250px;
      padding-left:30%
  }

  .education{
      background-color: rgb(213, 239, 255);
      padding-left:5vw;
      padding-bottom:20vh;
  }

  .education h1{
    font-family: 'PT Sans', sans-serif;
    justify-content: left;
    letter-spacing:3px;
    font-weight: 900;
    padding-top: 5vh;
    padding-bottom:2vh;
  }

  .waterloo{
      border : 3px solid rgb(5, 5, 83);
      background-color: white;
      padding-right:5vw;
      width:80%;
      padding-top:2vh;
      padding-left:2vw;
      border-radius: 15px;
      box-shadow:5px 10px 18px rgb(171, 215, 241);
  }

  .highschool{
    border : 3px solid rgb(5, 5, 83);
    margin-top:20px;
    background-color: white;
    padding-right:5vw;
    width:80%;
    padding-top:2vh;
    padding-left:2vw;
    border-radius: 15px;
    box-shadow:5px 10px 18px rgb(171, 215, 241); 
  }

  #facebook{
      font-size:48px;
      color:dodgerblue;
  }

  #instagram{
      font-size:48px;
      background: -webkit-linear-gradient(rgb(231, 124, 187), rgb(248, 102, 34));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }

  #email{
    font-size:48px;
    color:red;
  }

  div.emoji{
      text-align: center;
  }